In [256]:
from nltk.tokenize import word_tokenize
import pandas as pd

In [257]:
sent1 = "The quick brown fox jumps over the lazy dog"
sent2 = "The cat chases the mouse and it squeaks loudly"

In [258]:
sent1_tokens = word_tokenize(sent1.lower())
sent2_tokens = word_tokenize(sent2.lower())

In [259]:
from collections import Counter


count1 = Counter(sent1_tokens)
count2 = Counter(sent2_tokens)
count1, count2

(Counter({'the': 2,
          'quick': 1,
          'brown': 1,
          'fox': 1,
          'jumps': 1,
          'over': 1,
          'lazy': 1,
          'dog': 1}),
 Counter({'the': 2,
          'cat': 1,
          'chases': 1,
          'mouse': 1,
          'and': 1,
          'it': 1,
          'squeaks': 1,
          'loudly': 1}))

In [260]:
df = pd.DataFrame([count1])
df

   the  quick  brown  fox  jumps  over  lazy  dog
0    2      1      1    1      1     1     1    1

In [261]:
df1 = pd.DataFrame([count2])
df1

   the  cat  chases  mouse  and  it  squeaks  loudly
0    2    1       1      1    1   1        1       1

In [262]:
df = pd.concat([df,df1], ignore_index=True)
df = df.fillna(0)
df = df.astype(int)
df.index = df.index + 1
df

,the,quick,brown,fox,jumps,over,lazy,dog,cat,chases,mouse,and,it,squeaks,loudly
1,2,1,1,1,1,1,1,1,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,1,1,1,1,1,1,1

In [263]:
tokens = set(sent1_tokens+sent2_tokens)

In [264]:
df = pd.DataFrame({}, index=[1,2], columns=list(tokens))

In [265]:
df

,and,squeaks,lazy,fox,dog,mouse,loudly,brown,over,chases,quick,it,cat,jumps,the
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [266]:
counts1 = [sent1_tokens.count(x) for x in df.columns]
counts2 = [sent2_tokens.count(x) for x in df.columns]

In [267]:
df.iloc[0,:] = counts1
df.iloc[1,:] = counts2
df

,and,squeaks,lazy,fox,dog,mouse,loudly,brown,over,chases,quick,it,cat,jumps,the
1,0,0,1,1,1,0,0,1,1,0,1,0,0,1,2
2,1,1,0,0,0,1,1,0,0,1,0,1,1,0,2

#### Count Vectorizer

In [268]:
from sklearn.feature_extraction.text import CountVectorizer

In [269]:
cv = CountVectorizer()

In [270]:
vect_data = cv.fit_transform([sent1,sent2])

In [271]:
vect_data

<2x15 sparse matrix of type '<class 'numpy.int64'>'
	with 16 stored elements in Compressed Sparse Row format>

In [272]:
data = vect_data.toarray()

In [273]:
col = cv.get_feature_names_out()

In [274]:
df = pd.DataFrame(data,columns=col)
df.index = df.index + 1
df

,and,brown,cat,chases,dog,fox,it,jumps,lazy,loudly,mouse,over,quick,squeaks,the
1,0,1,0,0,1,1,0,1,1,0,0,1,1,0,2
2,1,0,1,1,0,0,1,0,0,1,1,0,0,1,2

In [275]:
sent3 = 'The lazy cat jumps over the quick dog'
sent3_tokens = word_tokenize(sent3)

In [276]:
vect_data1 = cv.transform([sent3])
vect_data1.toarray()

array([[0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 2]])

In [295]:
file = open('india.txt')
india_txt = file.readlines()
file.close()

In [296]:
india_txt

['India, officially the Republic of India, is a country in South Asia. \n',
 "It is the seventh-largest country by area; the most populous country as of June 2023; and from the time of its independence in 1947, the world's most populous democracy.\n",
 'Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders with Pakistan to the west;[j] China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east. \n',
 'In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and Indonesia.']

In [297]:
vect_data = cv.fit_transform(india_txt)

In [298]:
data = vect_data.toarray()
col = cv.get_feature_names_out()

In [301]:
df = pd.DataFrame(data,columns=col)
df.index = df.index + 1
df

,1947,2023,and,andaman,arabian,area,as,asia,bangladesh,bay,...,southwest,sri,thailand,the,time,to,vicinity,west,with,world
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
2,1,1,1,0,0,1,1,0,0,0,...,0,0,0,4,1,0,0,0,0,1
3,0,0,4,0,1,0,0,0,1,1,...,1,0,0,9,0,3,0,1,1,0
4,0,0,3,1,0,0,0,0,0,0,...,0,1,1,3,0,0,1,0,1,0