In [10]:
sent1 = "The quick brown fox jumps over the lazy dog"
sent2 = "The cat chases the mouse and it squeaks loudly"

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [12]:
tfidf = TfidfVectorizer(stop_words='english')

In [13]:
x_vect = tfidf.fit_transform([sent1, sent2])
data = x_vect.toarray()
col = tfidf.get_feature_names_out()

In [14]:
df = pd.DataFrame(data,columns=col)
df.index = df.index + 1
df

,brown,cat,chases,dog,fox,jumps,lazy,loudly,mouse,quick,squeaks
1,0.408248,0.000000,0.000000,0.408248,0.408248,0.408248,0.408248,0.000000,0.000000,0.408248,0.000000
2,0.000000,0.447214,0.447214,0.000000,0.000000,0.000000,0.000000,0.447214,0.447214,0.000000,0.447214