In [13]:
sent1 = "The quick brown fox jumps over the lazy dog"
sent2 = "The cat chases the mouse and it squeaks loudly"

In [14]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

In [15]:
cv = CountVectorizer()

In [16]:
word_vector = cv.fit_transform([sent1, sent2])
tfidf_transformer = TfidfTransformer()
x = tfidf_transformer.fit_transform(word_vector)

In [17]:

data = x.toarray()
col = cv.get_feature_names_out()

In [18]:
df = pd.DataFrame(data,columns=col)
df.index = df.index + 1
df

,and,brown,cat,chases,dog,fox,it,jumps,lazy,loudly,mouse,over,quick,squeaks,the
1,0.000000,0.332872,0.000000,0.000000,0.332872,0.332872,0.000000,0.332872,0.332872,0.000000,0.000000,0.332872,0.332872,0.000000,0.473682
2,0.332872,0.000000,0.332872,0.332872,0.000000,0.000000,0.332872,0.000000,0.000000,0.332872,0.332872,0.000000,0.000000,0.332872,0.473682